<form action="/members/<%= @member.id %>/delete" method="post">
  <p>First name: <%= @member.first_name %></p>
  <p>Last name: <%= @member.last_name %></p>
  <input type="submit" value="Delete Member">
</form>
