<h1>List of Gym Members</h1>
<% @members.each do |member| %>
<p>First name: <%= member.first_name %></p>
<p>Last name: <%= member.last_name %></p>
<p><a href="/members/<%= member.id %>/edit">Edit member info</a></p>
<p><a href="/members/<%= member.id %>/delete">Delete member</a></p>

<% end %>
