<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>John's Gym</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

  <link rel="icon" href="/pictures/johnsgym.png">

</head>
<body>
  <header>
    <div id="nav">
      <ul>
        <li><a href="/members">Members</a></li>
        <li><a href="/members/new">Create New Member</a></li>
        <li><a href="/classes">List Classes</a></li>
        <li><a href="/classes/new">Create Class</a></li>
        <li><a href="/booking-info/new">Create a Booking</a></li>
        <li><a href="/booking-info">See all Bookings</a></li>
        <div id="home">
        <li><a href="/">Home</a></li>
      </div>
    </ul>
  </div>
</header>
<section id="main_content"  >
  <br>
  <br>
  <%= yield %>
</section>
</body>
</html>
