<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>John's Gym</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

  <link rel="icon" href="/pictures/scan0006_full.jpeg">

</head>
<body>
<header>
  <div class="container">


  <nav>
    <main class="flex flex--row">
      <nav>
        <ul>
          <li>
            <a href="/members">Members</a>
          </li>
          <li>
            <a href="/members/new">Create New Member</a>
          </li>
          <li>
            <a href="/classes">List Classes</a>
          </li>
          <li>
            <a href="/classes/new">Create Class</a>
          </li>
          <li>
            <a href="/booking-info/new">Create a Booking</a>
          </li>
          <li>
            <a href="/booking-info">See all Bookings</a>
          </li>
        </ul>
      </nav>
</div>
  </header>
    <section id="ruby_content">
      <%= yield %>
      </section>
    </body>
    </html>
