body {
  background-color: rgb(222, 184, 135);
  background-image: url("/pictures/scan0006_full.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Garamond;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}


/* ~This will be the layout for the styling and layout of the navbar */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


#nav li {
  float: left;
}

#nav li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

#home {
  float: right;
  display:block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}

#main_content {
  font-family: Garamond;
  color: rgb(249,166,2);
  padding: 50px;
  border: 20px rgb(94,60,88);
  margin: 50;
  background-color: rgba(94,60,88, 0.9);
}

#main_content a{
  list-style-type: none;
  text-decoration: none;
  color: pink;
}
