<form class="/exercise_classes/new" method="post">
<label for="Class-name">Class Name</label>
<input type="text" name="class_name" id="class-name">

<label for="when-class">When is this class taking place?, please include date and time in the format shown.</label>
<input type="text" name="when_class" value="dd/mm/yy 00:00" id="when-class">
<input type="submit" value="Create new class">

</form>
<!-- ~This Form allows us to add a new class to the sechedule~ -->
