<form class="/exercise_classes/new" method="post">
<label for="Class-name">Class Name</label>
<input type="text" name="class_name" id="class-name">

<label for="when-class">When is this class taking place?</label>
<input type="date" name="date_class" value="" id="when-class">

<label for="time-class">When time?</label>
<input type="time" name="time_class" value="" id="time-class">

<input type="submit" value="Create new class">

</form>
<!-- ~This Form allows us to add a new class to the sechedule~ -->
