<form  action="/delete/<%= @class.id %>delete " method="post">
<p>Class name: <%= @class.class_name %> </p>
<p> When is the class: <%= @class.when_class %> </p>
<input type="submit" value="Delete Class">
</form>
