<form  action="/delete/<%= @class.id %>delete " method="post">
<p>Class name: <%= @class.class_name %> </p>
<p>Date: <%= @class.date_class %> </p>
<p>Time: <%= @class.time_class %> </p>
<input type="submit" value="Delete Class">
</form>
