<p>You have successfully created a new gym class.</p>
<p>New class info</p>
<hr>
<p> Class Name: <%= @class.class_name %></p>
<p> Class date: <%= @class.date_class %></p>
<p> Class time: <%= @class.time_class %></p>
